@import "tailwindcss";

:root {
  /* خلفية بنفسجي فاتح جداً بدل الأبيض */
  --background: #776ea5; 
  --foreground: #2e1065; /* كتابة بنفسجي غامق جداً */
  
  --primary: #8b5cf6;    /* البنفسجي الزاهي */
  --primary-dark: #6d28d9;
  
  /* لون الكروت - بنفسجي أفتح من الخلفية أو أبيض شفاف */
  --card-bg: rgba(239, 181, 244, 0.8);
}

body {
  background: var(--background);
  color: var(--foreground);
}